:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --footer-background-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

/* Обнуляючі стилі */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}

/*Стилі хедера*/

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000;
}

.logo-accent {
    color: var(--accent-color);
}

.nav-list {
    color: var(--text-color);
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.contacts-list {}

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-color);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/*Стилі головної сторінки */

.studio {}

.hero {
    background-color: var(--footer-background-color);
}

.page-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #fff;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: #fff;
    background-color: var(--accent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
}

.preference {}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
}

.preference-list {}

.preference-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-color);
}

.prefrence-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7px;
    letter-spacing: 0.03em;
}

.our-work {}

.our-work-list {}

.work-image {}

.team {
    background-color: #F5F4FA;
}

.team-list {}

.team-item {}

.subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Стилі футера */

.footer {
    background-color: var(--footer-background-color);
}

.logo-footer {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #fff;
}

.adress {}

.adress-list {}

.adress-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: #fff;
}

.adress-link {
    color: rgba(255, 255, 255, 0.6);
}

.adress-link:hover {
    color: var(--accent-color);
}

/* Стилі сторінки Portfolio */

.portfolio {}

.projects {}

.portfolio-title {}

.filter-list {}

.filter-item {}

.filter-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

    color: var(--title-color);
    background-color: #F5F4FA;

    border-radius: 4px;
    border: 0;
}

.current-button {
    background-color: var(--accent-color);
    color: #fff;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: #fff;
}

.project-list {}

.project-item {}

.project-item a {
    text-decoration: none;
    color: inherit;
}

.projects-image {}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-color);
}

.project-text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;

    color: var(--text-color);
}